.topheader img{
    width: 40%;
    height: 5rem;
    object-fit: contain;
    margin: auto;
    
}
.home .card{
    background-color: #F6F6EC;
}
.bottomheader .card-body .middle{
    background-color: #e8ece0;
}
.bottomheader a{
    margin: 0 0.3rem;
}